<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <title>Online chat</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
