
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Online chat</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
